.header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  width: 100vw;
  background-color: #6c3524;
  color: $white;
  line-height: 46px;
  box-shadow: 0 0 5px black;
  z-index: 5;
  position: fixed;
  top: 0;
  &__link {
    @include link;
    h1 {
      font-size: 30px;
      color: $white;
      position: absolute;
      left: 42%;
    }
  }
  &__right {
    display: flex;
    &__user {
      cursor: default;
      margin-right: 18px;
    }
    &__link {
      @include link;
      color: $white;
      margin: 5px 18px 5px 0;
      border: 2px solid;
      border-radius: 5px;
      line-height: 38px;
    }
  }
}

.my_config_box {
  display: none;
  width: 100px;
  position: fixed;
  right: 125px;
  top: 46px;
  z-index: 10;
  background-color: $white;
  box-shadow: 0 0 8px gray;
  text-align: center;
  .my_config {
    width: 100%;
    color: black;
    @include link;
  }
}