.header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  width: 100vw;
  background-color: #6c3524;
  color: white;
  line-height: 46px;
  box-shadow: 0 0 10px #606060;
  z-index: 5;
  position: fixed;
  top: 0;
  &__link {
    text-decoration: none;
    h1 {
      font-size: 30px;
      color: #fff;
      position: absolute;
      left: 42%;
    }
  }
  &__right {
    display: flex;
    &__user {
      cursor: default;
      margin-right: 18px;
    }
    &__link {
      text-decoration: none;
      color: white;
      margin-right: 18px;
    }
  }
}

.my_config_box {
  display: none;
  width: 100px;
  position: fixed;
  right: 125px;
  top: 46px;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 8px gray;
  text-align: center;
  .my_config {
    width: 100%;
    color: black;
    text-decoration: none;
  }
}