header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  width: 100vw;
  background-color: black;
  color: white;
  line-height: 46px;
  box-shadow: 0 0 10px #606060;
  z-index: 1;
  position: fixed;
  top: 0;
  &__search {
    width: 380px;
    height: 34px;
    border: 2px solid #505050;
    border-radius: 30px;
    color: #d0d0d0;
    background-color: #303030;
    margin-left: 20px;
  }
  &_link {
    text-decoration: none;
    h1 {
      text-decoration: none;
      position: absolute;
      left: 48%;
    }
  }
  &__right {
    display: flex;
    &__link {
      text-decoration: none;
      color: white;
    }
  }
}

.my_config_box {
  display: none;
  width: 100px;
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0 8px gray;
  .my_config {
    width: 100%;
    color: black;
  }
}