<div class="show_box">
  <div class="show">
    <div class="show__picture">
      <img src="<%= user_picture.image %>" width="620px" height="430px;">
    </div>
    <%= link_to '絵を削除する', picture_path(user_picture.id), {method: :delete, class: "delete_link"} %>
  </div>
</div>