.right_content {
  background-color: $bg-color;
  padding-top: 50px;
  width: 100vw;
  .main_title {
    font-size: 60px;
  }
  .contents {
    width: 1140px;
    background-color: $bg-color;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .content_over_link {
      @include link;
      color: black;
      margin: 10px;
      border-radius: 2px;
      background-color: white;
      .content {
        width: 340px;
        height: 390px;
        background-color: #f5f5f5;
        margin: 10px 10px;
        position: relative;
        &__image {
          padding: 5px;
        }
        &__title {
          margin: 10px 20px 0 20px;
          min-height: 40px;
          font-size: 18px;
          line-height: 2rem;
          font-weight: bold;
        }
        &__detail {
          margin: 0 28px;
          font-size: 14px;
          height: 53px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2rem;
        }
        &__user {
          display: flex;
          position: absolute;
          right: 10px;
          bottom: 10px;
          &__avatar {
            margin-right: 5px;
            border-radius: 3px;
            width: 20px;
            height: 20px;
            background-size: 21px 21px;
          }
          &__name {
            font-size: 14px;
            line-height: 20px;
          }
        }
        hr {
          margin-top: 10px;
        }
      }
    }
  }
}