.devise {
  width: 900px;
  margin: 0 auto;
  padding: 80px 10px;
  display: flex;
  justify-content: center;
  h2 {
    font-size: 40px;
    margin-right: 50px;
    font-family: serif;
  }
}

.devise_str {
  font-family: serif;
}