.draw-area_box {
  margin: 0 auto;
  width: 700px;
  #draw-area {
    background-color: #fff;
  }
}

.new_picture {
  background-color: aquamarine;
  padding-top: 70px;
  width: 50vw;
  margin: 0 auto;
}