<a class="content_over_link" href="">
<div class="content">
  <div class="content__image">
    <img src="<%= picture.image %>" alt="<%= picture.title %>" width="340px" height="140px" style="">
  </div>
  <div class="content__title"><%= picture.title %></div>
  <hr width="300" size="1" color="#b0b0b0">
</div>
</a>