<div class="side_content">
  <div class="side_content__user">
  <% unless user_signed_in? %>
    <div class="side_content__user__box" style="background-image: url(<%= asset_url("image.png") %>)"></div>
    <div class="side_content__user__name">UserNname</div>
  <% end %>
  <% if user_signed_in? %>
    <div class="side_content__user__box" style="background-image: url(<%= current_user.avatar %>)"></div>
    <div class="side_content__user__name"><%= current_user.nickname %></div>
  <% end %>
  </div>
  <div class="side_content__picks">
    <p>作品一覧</p>
    <%= render partial: "user_picture", collection: current_user.pictures if user_signed_in?%>
  </div>
</div>