<div class="side_contents">
  <div class="side_contents__user">
    <img src="" class="side_contents__user__image">
    <div class="side_contents___user__name">Name</div>
  </div>
  <div class="side_contents__picks">
    <div class="side_contents__picks__pick">
      <div class="user_name"></div>
      <div class="user_pick"></div>
    </div>
  </div>
</div>