<%= render 'side_bar' %>
<div class="right_box">
<div class="swiper-container">
  <div class="swiper-wrapper">
    <%= render partial: "swiper_picture", collection: @pictures.order('created_at DESC').limit(9) %>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
  <div class="contents">
    <%= render @pictures %>
  </div>
</div>