
@font-face {
  font-family: 'しろくま';
  src: font-url('001Shirokuma-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import 'config/reset';
@import 'config/colors';
@import 'config/mixin';
@import 'config/header';
@import 'modules/pictures/index';
@import 'modules/pictures/new';
@import 'modules/pictures/create';
@import 'modules/pictures/show';
@import 'modules/devise';
@import 'modules/swiper/swiper.min.scss';

body {
  height: 100vh;
  width: 100vw;
  background-color: #f5deb3;
}